.h1{
    color: #0f766e;
    text-align: center;
    background-color: #ccfbf1;
}
a{
    text-decoration: none;
    color: #0369a1;
}
.menu{
    color: #0369a1;
    text-align: center;
    background-color: #e0f2fe;
    font-weight: bolder;
}
.picture {
    text-align: center;
}
.body {
    color: #155e75;
    background-color: white;
}
.foot {
    background-color: #0f766e;
    text-align: center;
    color: #f0fdfa;
}
.all {
    background-color: #f0f9ff;
    color: #1f2937;
}
.menu a:hover{
    background-color: rgb(53, 161, 211);
}
.head {
    background-color: #bae6fd;
}
.body2:hover{
    background-color: #E0F2FE;
}
.tieude{
    display: block;
    color: #134e4a;
    font-weight: bold;
}
.form{
    text-align: center;
}
.content:hover{
    background-color: #ECFEFF;
}
.content3:hover{
    background-color: blue;
}
.content2:hover{
    background-color: #0F766E;
}
.content2{
    background-color: #0EA5A4;
}